.button{
    border: 1px solid black;
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
    color:brown;
    text-decoration:none;
}
.picture{
    padding:20px;
}
body{
    background-color: rgb(24, 22, 22);
}